<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    <title>{% block title %}{% endblock %}: DBProject</title>
    {% endblock %}
</head>
<body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="{{url_for('login_signup')}}">login/signup</a>
      <a href="{{url_for('register_product')}}">
        Add product
      </a>
      <a href="{{url_for('register_order')}}">Order</a>
      <a href="#about">About</a>
    </div>
    <div id="content" class="content">
      {% block content %}{% endblock %}
    </div>
    <div id="footer" style="text-align: center; font-size:12px; margin-top: 1em;">
        {% block footer %}
        IUST DB Project 2018
        {% endblock %}
    </div>
</body>
</html>
